<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>

    {% extends 'base.html' %}

    {% block content %}
    <main class="container py-5">
        <section class="card card-body">
            <h1 class="display-1 text-center">Django App</h1>
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quae quod laborum beatae quam itaque amet sit, asperiores dolore repudiandae explicabo aut error ex minima accusantium ipsa, sint totam corrupti consectetur. Iste sed provident distinctio quam laborum qui, et optio architecto dolore consectetur. Voluptas deleniti itaque pariatur. Dolorum necessitatibus alias culpa. Animi, amet consequatur totam iste assumenda aperiam accusamus illum dolorum officia, commodi cum nam temporibus, quis nihil doloremque saepe provident vero. Possimus velit dolorum impedit excepturi quasi voluptates neque perspiciatis inventore porro! Inventore assumenda nostrum repellat debitis quidem non necessitatibus ullam! Vitae sapiente vel maiores dolores praesentium molestiae commodi delectus.
        </p>
        <div class="container text-center">
            <a class="btn btn-primary" href="/signin">
                Sign In
            </a>
            <a class="btn btn-success" href="/signup">
                Sign Up
            </a>
        </div>
        
        </section>
    </main>
    
    
    {% endblock %}
</body>
</html>